@model Product

<h2>Product of @Model.Id</h2>
<ul>
    <b>Product Name: </b>
    <li>@Model.ProductName</li>
    <b>Price: </b>
    <li>@Model.Price</li>
    <b>Quantity: </b>
    <li>@Model.Quantity</li>
</ul>
