@* @{
   // IEnumerable<Product> products = ViewBag.Products;
    //   IEnumerable<Product> products2 = ViewData["Products"] as List<Product>;
} *@

@*Below code will create a object for Product class named "Model"*@
@* @model IEnumerable<Product> *@

@model ProductAndCategoryViewModel

<h2>List of Products</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Product)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.ProductName</td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>