<div class="text-left">
    <p>
        <a asp-action="NotFound">
            Page Not Found Link
        </a>.
    </p>
    <p> <a asp-action="Index" asp-route-id="1">Raise Exception</a> </p>
    <p><a asp-action="Index" asp-route-id="2">Return a 500 error.</a>.</p>
   
</div>