<div class="text-left">
    <p>
        <a href="/NoSuchPage">
            Request an endpoint that doesn't exist. Trigger a 404
        </a>.
    </p>
    <p> <a asp-action="Index" asp-route-id="1">Raise Exception</a> </p>
    <p><a asp-action="Index" asp-route-id="2">Return a 500 error.</a>.</p>
</div>